@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-red-60: hsl(359, 74%, 46%);
  --color-red-50: #e23b3e;
  --color-red-45: #f24e53;
  --color-red-10: hsl(358, 86%, 90%);
  --color-purple-50: #8d4ef2;
  --color-red-5: #ffe6e8;
  --color-barely-black: #111827;
}

*::selection {
  background-color: var(--color-red-5);
  color: var(--color-red-50);
}

a {
  color: var(--color-red-50);
}

a:visited {
  color: var(--color-red-60);
}

html,
body {
  color: var(--color-barely-black);
}

p code {
  border-radius: 0.2rem;
  color: var(--color-red-45);
  background-color: var(--color-red-5);
  padding: 2px 0.4rem;
  font-size: 0.8em;
}

.cover {
  object-fit: cover;
}
